.arrowBase {
	position: absolute;
	top: 150px;
	left: 500px;
	width: 200px;
	height: 150px;
}

.rosePoint {
	position: absolute;
	width:33%;
	height: 25%;
	top: 25%;
	left: 33%;
}

.north {
	top: 0;
}

.east {
	left: 66%;
}

.south {
	top: 50%;
}

.west {
	left:0;
}

.hide {
	visibility: hidden;
}

.bottom {
	width: auto;
	height: auto;
	top: 75%;
}